@font-face {
    font-family: "NS Sans";
    src: url("../fonts/nssans-regular.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
   
  @font-face {
    font-family: "NS Sans";
    src: url("../fonts/nssans-italic.woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "NS Sans";
    src: url("../fonts/nssans-demi.woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
   
  @font-face {
    font-family: "NS Sans";
    src: url("../fonts/nssans-bold.woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
   
  @font-face {
    font-family: "NS Sans";
    src: url("../fonts/nssans-bolditalic.woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  :root {

    /* Color variables */
    --ns-primary-yellow: #ffc61e;
    --ns-primary-blue: #00337f;
    --ns-background-gray: #e6e6e9;
    --ns-background-white: #ffffff;
  }

  body {
    font-family: "NS Sans", Fallback, sans-serif;
    color: var(--ns-primary-blue);

    padding: 0;
    margin: 0;
  }

  section:nth-of-type(1) {
    background-color: var(--ns-primary-blue);
    color: var(--ns-background-white);

    text-align: center;
    align-content: center;
    min-height: 10vh;
  }

  section:nth-of-type(1) h1{
    margin: 0;
  }

  section:nth-of-type(1) p{
    margin: 0;
  }

  /* Fieldsection */
  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }

  label {
    display: inline-block;
    text-align: left;
  }

  #burgerNmr {
    width: 10vw;
  }

  /* Ordered list extra order */
  ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }
  
  li:before {
      content: counters(item, ".") ". ";
      display: table-cell;
      padding-right: 0.6em;    
  }
  
  li li {
      margin: 0;
  }
  
  li li:before {
      content: counters(item, ".") " ";
  }

  :disabled {
    display: none;
  }